/*  body css*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
/* bg behind phone styles */
.background {
    background: linear-gradient(to bottom right, #2c3e50, #3498db);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* mobile style*/
.mobile-phone, .home-screen {
    width: 300px;
    height: 600px;
    background: #000;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    overflow: hidden;
    background: url('assets/starry_image.jpg');
}
/* mobile wallpaper*/
.wallpaper {
    width: 100%;
    height: 100%;
    background: #000;  
    background: url('assets/starry_image.jpg');
}

.unlock-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.unlock-button:hover {
    background: rgba(255, 255, 255, 0.4);
}
/*after clicking unlock button */
.home-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.clock {
    color: #fff;
    font-size: 2em;
    margin-top: 20px;
}

.weather {
    color: #fff;
    font-size: 1.5em;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.weather i {
    margin-right: 10px;
}

.app-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.app {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app:hover {
    background: rgba(255, 255, 255, 0.4);
}

.app i {
    font-size: 2em;
}

.app span {
    margin-top: 5px;
    font-size: 0.8em;
}
.unlock-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}


